<div class="mt-0">
    <h1 *ngIf="title">{{title}}</h1>
    <div class="h-2" *ngIf="this.isLoading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <!-- detail page block -->
    <div class="mb-5" *ngFor="let movie of moviesDetails; let i = index">
        <div class="flex gap-4 flex-col md:flex-row" *ngIf="movie.Response === 'True'">
            <!-- first block -->
            <div class="w-12/12 md:w-2/12">
                <ng-container *ngTemplateOutlet="firstBlockTemplate; context: { movie: movie, index: i }"></ng-container>
            </div>

            <!-- second block -->
            <div class="flex flex-col lg:flex-row p-4 w-12/12 md:w-10/12 bg-[#424242] rounded">
                <div class="w-12/12 lg:w-10/12">
                    <!-- title and story -->
                    <ng-container *ngTemplateOutlet="titleAndStoryTemplate; context: { movie: movie }"></ng-container>
                    <span class="flex gap-4 py-4">
                        <ul>
                            <li>Released:</li>
                            <li>{{movie.Released}}</li>
                        </ul>
                        <ng-container *ngTemplateOutlet="directorTemplate; context: { movie: movie }"></ng-container>
                        <ul>
                            <li>Runtime:</li>
                            <li>{{movie.Runtime}}</li>
                        </ul>
                        <ng-container *ngTemplateOutlet="awardTemplate; context: { movie: movie }"></ng-container>
                    </span>
                    <span class="flex gap-4 py-4 border-solid border-t border-slate-50 pt-4 pb-4">
                        <ul>
                            <li>Language:</li>
                            <li>{{movie.Language}}</li>
                        </ul>
                        <ul>
                            <li>Country:</li>
                            <li>{{movie.Country}}</li>
                        </ul>
                    </span>
                    <span class="flex gap-4 py-4 border-solid border-t border-slate-50 pt-4 pb-4">
                        <ul>
                            <li>DVD:</li>
                            <li>{{movie.DVD}}</li>
                        </ul>
                    </span>
                    <span>
                        <ng-container *ngTemplateOutlet="ratedTemplate; context: { movie: movie }"></ng-container>
                    </span>
                    <span>
                        <ng-container *ngTemplateOutlet="actorsTemplate; context: { movie: movie }"></ng-container>
                    </span>
                    <span>
                        <ng-container *ngTemplateOutlet="genreTemplate; context: { movie: movie }"></ng-container>
                    </span>
                    <span>
                        <ng-container *ngTemplateOutlet="writerTemplate; context: { movie: movie }"></ng-container>
                    </span>
                    <span>
                        <ul class="border-solid border-t border-slate-50 pt-4 pb-4">
                            <li>BoxOffice:</li>
                            <li>{{movie.BoxOffice}}</li>
                        </ul>
                    </span>  
                </div>
                <div class="w-12/12 lg:w-2/12">
                    <div class="bg-[#424242] lg:p-4 flex flex-col lg:items-end">
                        <ul class="flex mb-3" *ngFor="let rating of movie.Ratings">
                            <li class="bg-green-600 w-14 h-12 flex items-center justify-center mr-2">
                                <span class="text-xl">
                                    {{this.getRatingValue(rating.Value)}}
                                </span>
                            </li>
                            <li class="self-center">
                                <img class="object-contain w-16 h-10" [src]="this.getImg(rating.Source)" [alt]="rating.Source">
                            </li>
                        </ul>        
                    </div>
                </div>
            </div>
        </div>
        <div class="flex gap-4 flex-col md:flex-row" *ngIf="movie.Response === 'False'">
            <p>Can not load movie</p>
        </div>
    </div>
    <!-- search movie block -->
    <div class="mb-5" *ngFor="let movie of moviesDetailSearch; let i = index">
        <div class="flex gap-4 flex-col md:flex-row">
            <!-- first block -->
            <a [routerLink]="['/detail', movie.imdbID]" class="transition-all ease-in-out relative bottom-0 hover:bottom-2 duration-300 w-12/12 md:w-12/12">
                <ng-container *ngTemplateOutlet="firstBlockTemplate; context: { movie: movie }"></ng-container>
            </a>
            <!-- second block -->
            <div class="flex flex-col lg:flex-row p-4 w-12/12 md:w-10/12 bg-[#424242] rounded">
                <div class="w-full">
                    <ng-container *ngTemplateOutlet="titleAndStoryTemplate; context: { movie: movie, index: i }"></ng-container>
                    <span class="flex gap-4 py-4">
                        <ng-container *ngTemplateOutlet="directorTemplate; context: { movie: movie }"></ng-container>
                        <ng-container *ngTemplateOutlet="awardTemplate; context: { movie: movie }"></ng-container>
                    </span> 
                    <span>
                        <ng-container *ngTemplateOutlet="ratedTemplate; context: { movie: movie }"></ng-container>
                    </span>
                    <span>
                        <ng-container *ngTemplateOutlet="actorsTemplate; context: { movie: movie }"></ng-container>
                    </span>
                    <span>
                        <ng-container *ngTemplateOutlet="genreTemplate; context: { movie: movie }"></ng-container>
                    </span>
                    <span>
                        <ng-container *ngTemplateOutlet="writerTemplate; context: { movie: movie }"></ng-container>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #firstBlockTemplate let-movie="movie">
    <div class="w-full">
        <mat-card>
            <img class="self-center" mat-card-image [src]="movie.Poster" [alt]="movie.Title">
        </mat-card>
    </div>
</ng-template>

<ng-template #titleAndStoryTemplate let-movie="movie" let-i="index">
    <span>
        <h1>{{movie.Title}} ({{movie.Year}}) - {{movie.Type | titlecase}}</h1>
        <h2>Story</h2>
        <p>{{ movie.Plot | slice:0:this.charTruncateAfterNum }}{{ (movie.Plot.length > this.charTruncateAfterNum && !this.show[i]) ? '...' : '' }}<span *ngIf="movie.Plot.length > this.charTruncateAfterNum" [hidden]="!this.show[i]">{{ movie.Plot | slice:this.charTruncateAfterNum }}</span></p>
        <div class="flex justify-end mb-4">
            <ul class="flex items-center" *ngIf="movie.Plot.length > this.charTruncateAfterNum">
                <li class="mr-1">
                    <button mat-button class="italic underline" type="button" (click)="this.show[i] = !this.show[i]">
                        <span class="flex items-center">
                            {{ !this.show[i] ? 'Read More' : "Read Less"}}
                            <svg *ngIf="!this.show[i]; else isReadLess" class="w-3 h-3 ml-1 fill-slate-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M199 465c9.4 9.4 24.6 9.4 33.9 0L425 273c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-175 175L41 239c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9L199 465zM7 81L199 273c9.4 9.4 24.6 9.4 33.9 0L425 81c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-175 175L41 47C31.6 37.7 16.4 37.7 7 47S-2.3 71.6 7 81z"/></svg>
                            <ng-template #isReadLess>
                                <svg class="w-3 h-3 ml-1 fill-slate-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M233 47c-9.4-9.4-24.6-9.4-33.9 0L7 239c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l175-175L391 273c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9L233 47zM425 431L233 239c-9.4-9.4-24.6-9.4-33.9 0L7 431c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l175-175L391 465c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9z"/></svg>
                            </ng-template>
                        </span>
                    </button>
                </li>
            </ul>
        </div>
    </span>
</ng-template>

<ng-template #directorTemplate let-movie="movie">
    <ul>
        <li>Director:</li>
        <li>{{movie.Director}}</li>
    </ul> 
</ng-template>

<ng-template #awardTemplate let-movie="movie">
    <ul>
        <li>Awards:</li>
        <li>{{movie.Awards}}</li>
    </ul>
</ng-template>

<ng-template #ratedTemplate let-movie="movie">
    <ul class="border-solid border-t border-slate-50 pt-4 pb-4">
        <li>Rated:</li>
        <li>{{movie.Rated}}</li>
    </ul> 
</ng-template>

<ng-template #actorsTemplate let-movie="movie">
    <ul class="border-solid border-t border-slate-50 pt-4 pb-4">
        <li>Actors:</li>
        <li *ngFor="let actor of this.getList(movie.Actors)">{{actor}}</li>
    </ul>
</ng-template>

<ng-template #genreTemplate let-movie="movie">
    <ul class="border-solid border-t border-slate-50 pt-4 pb-4">
        <li>Genre:</li>
        <li *ngFor="let genre of this.getList(movie.Genre)">{{genre}}</li>
    </ul>
</ng-template>

<ng-template #writerTemplate let-movie="movie">
    <ul class="border-solid border-t border-slate-50 pt-4 pb-4">
        <li>Writers:</li>
        <li *ngFor="let writer of this.getList(movie.Writer)">{{writer}}</li>
    </ul>
</ng-template>