<div class="mt-0">
    <h1 *ngIf="title">{{title}}</h1>
    <div class="h-2" *ngIf="isLoading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="grid grid-cols-2 sm:grid-col-3 md:grid-cols-4 lg:grid-cols-5 gap-4 lg:gap-8">
        <ng-container *ngFor="let movie of movies | async">
            <a [routerLink]="['/detail', movie.imdbID]" class="transition-all ease-in-out relative bottom-0 hover:bottom-2 duration-300" *ngIf="movie.Response !== 'False'; else responseFalse">
                <mat-card appearance="outlined" class="flex items-center justify-center" ngif="movie.imdbID">
                    <img mat-card-image [src]="movie.Poster" [alt]="movie.Title">
                    <mat-card-content class="mt-4">{{movie.Title}} ({{movie.Year}}) - {{movie.Type | titlecase}}</mat-card-content>
                </mat-card>
            </a>
            <ng-template #responseFalse>
                <mat-card appearance="outlined" class="flex items-center justify-center" ngif="movie.imdbID">
                    <mat-card-content class="mt-4">Sorry, {{movie.Error}}</mat-card-content>
                </mat-card>
            </ng-template>
        </ng-container>
    </div>
</div>